.feed {
  display: flex;
  flex-direction: column;
  background-color: plum;
  width: 70%;
  height: inherit;
  overflow-y: auto;
}

.header {
  color: white;
  margin: 0px;
}

.articlesList {
  color: blue;
}
