html {
  display: flex;
  justify-content: center;
}

body {
  width: 100vw;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    width: 95vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    width: 90vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    width: 80vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    width: 75vw;
  }
}
