body {
  border: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  background-color: #181818;
}

.app {
  display: flex;
  height: 100vh;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .app {
    width: 95vw;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .app {
    width: 90vw;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .app {
    width: 80vw;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .app {
    width: 75vw;
  }
}
